@import '../../colors.css';

.SpaceBetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.MessageButtonGroup {
    margin-top: 10px;
}

.MessageButton {
    height: 100%;
}

.Footer {
    flex-shrink: 0;
    background-color: var(--light-earth);
}

.Panel,
.PanelWrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0;
}

.noBorder {
    border: none;
}

.PanelBody {
    overflow-y: scroll;
    flex-grow: 1;
}

.TextInput {
    resize: none;
    flex: 1;
}

.MessageContainer {
    display: flex;
}

.MessageWrapper {
    padding: 15px 0;
}

.Title {
    display: flex;
    flex-shrink: 0;
    padding: 5px 1em;
}

.WarningBanner {
    margin-top: 1em;
    width: 100%;
}

.AutoWidth {
    width: auto;
}

.Opaque {
    opacity: 0.25;
    transition: var(--t-opacity);
}

.Opaque:hover {
    opacity: 1;
}

.MarginRight {
    margin-right: 0.5em;
}

.isStateOk {
    background: var(--light-green);
}

.isStateError {
    background: var(--light-salmon);
}

.isStateWarning,
.isReplay {
    background-color: var(--bg-warn);
}

@media print {
    .PanelBody{
        overflow-y: auto;
    }
}