@import "../../colors.css";
@import "../../transitions.css";
@import "../../animations.css";

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.Title {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.TitleText {
    /* what the hell, obviously this is needed for the text to be centered */
    /* but I have no clue how to solve this differently... */
    margin-top: 0.3em;
}

.TitleImage {
    max-height: 1.25em;
    margin-right: 0.5em;
}

.AlertMode .Title::after {
    content: " ";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    margin-left: 1em;
    border-radius: 100%;
    animation: var(--a-pulsing-error-bg);
}

.BackIcon {
    margin-right: 0.5em;
}