.Map {
    margin-bottom: 10px;
    height: 350px;
}

.noBorder{
    border: none;
}

.InfoBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Label {
    font-size: inherit;
}

.MarkerTooltip {
    font-size: 1.25em;
}