@import "../../colors.css";
@import "../../transitions.css";

.snackbarContainer {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 1000; /* 1000 ensures snackbars overlay map */
}

.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    border-radius: 2px;
    color: var(--white);
    padding: 1em;
    margin-top: 0.5em;
    display: flex;
}

.message {
    flex: 1;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible; /* Show the snackbar */
    animation: fadein 0.5s;
}

.fadeOut {
  animation: fadeout 0.5s;
}

.iconLeft {
    margin-right: 1em;
}

.iconRight {
    margin-left: 1em;
    transition: var(--t-color);
    cursor: pointer;
}

.iconRight:hover {
    color: var(--black);
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* ------------ TYPES ----------- */

.success {
    background-color: var(--bg-success);
}

.error {
    background-color: var(--bg-error);
}

.default {
    background-color:var(--light-black);
}