@import '../../colors.css';


.Message {
    margin-top: 15px;
}

.Header{
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
}

.Incoming {
    margin-left: 15%;
    margin-right: 15px
}

.Outgoing {
    width: 85%;
    margin-left: 15px;
}

.IncomingBackground{
    background-color: var(--light-red);
    border: 1px solid var(--light-red);
}

.OutgoingBackground{
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.Left {
    flex-flow: row-reverse;
}

.Right {
    flex-flow: row;
}

.MessageBody {
    margin-top: 10px;
    padding: 15px;
    position: relative;
}

.Arrow::after {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    display: inline-block;
    bottom: -20px;
}

.OutgoingArrow::after {
    border-top-color: var(--light-blue);
    left: 10px
}

.IncomingArrow::after {
    border-top-color: var(--light-red);
    right: 10px;
}