@import '../../colors.css';

.Message {
    margin-top: 2em;
    padding: 1em 1em 0.25em 1em;
    position: relative;
    white-space: pre-wrap;
    border-radius: 4px;
}

.Meta{
    color: var(--gray);
    transition: var(--t-color);
    display: flex;
    justify-content: space-between;
}

.Meta:hover {
    color: var(--black);
}

.Outgoing {
    margin-right: 1em;
    margin-left: 25%;

    background-color: var(--white);
    border: 1px solid var(--bright-green);
    border-left-width: 1em;
}

.Incoming {
    margin-right: 25%;
    margin-left: 1em;

    background-color: var(--white);
    border: 1px solid var(--bright-blue);
    border-left-width: 1em;
}

.StateIndicator {
    margin-right: 0.5em;
}